
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar{
    display: grid;
    grid-template-rows: repeat(12,auto);
    gap: 15px;
} 
.search{
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    gap: 15px;
}

.userControl{
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 15px;
}

