
@font-face {
    font-family: 'Roboto-Slab';
    src: url('./fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype'),
}


:root{
    --superLight:#ecfdf5;
    --light: #a7f3d0;
    --medium: #34d399;
    --dark: #047857;
    --superDark: #064e3b;
    --paddingGeneral:15px;
    --fontSize:1.3rem;
}
body{
    font-family: 'Roboto-Slab', sans-serif;
    font-size: var(--fontSize);
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar{
    grid-column: 1/2;
    padding: var(--paddingGeneral);
} 

.search{
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 15px;
    grid-column: 2/3;
    padding: var(--paddingGeneral);
    margin-left: var(--paddingGeneral);
    align-items: center;
}

.userControl{
    padding: var(--paddingGeneral);
    margin-left: var(--paddingGeneral);
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 15px;
}
.sidebarContent{
    display: flex;
    align-items: center;
    gap: 5%;
}

.sidebar{
    background-color: var(--dark);
    color: var(--superLight);
}

nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav + nav{
    margin-top: 20%;
}

/*To get rid of the xcancel button that appears in MacOS*/
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

input[type="search"] {
    appearance: none;
    width: 80%;
    height: 1.5rem;
    border-radius: 10px;
    border: 1.5px solid black;
    justify-self: start;
    background-color: var(--light);
}
  input[type="search"]:focus{
    outline: none; /*Remove default blue outline*/
    border: 2px solid var(--superDark);
}
.search img{
    border-radius: 15px;
    width: 2rem;
}

.userControl img{
    border-radius: 40px;
    width: 3.5rem;
}